<ion-header>
  <ion-navbar>
    <ion-title>
      Speaker Recording
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="list_page record_page">
  <ion-card>
    <ion-card-content>
        <button iclass="button button-icon record_btn" (click)="stopRecord()" color="danger" *ngIf="recording"><ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Record</button>
        <ion-item *ngIf="recording" >{{recordingDuration | amDateFormat:'HH:mm:ss'}}</ion-item>
        <button class="button button-icon record_btn" (click)="showPrompt()" *ngIf="!recording && !playing"><ion-icon name="mic"></ion-icon></button>
        <button ion-button primary (click)="stopPlayback()" *ngIf="playing"><ion-icon name="hand"></ion-icon>&nbsp;&nbsp;Stop Playback</button>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let audio of audioList; index as i;">
      <p>{{audio.filename}}</p>
      <button ion-button clear item-end large (click)="playAudio(audio.filename, i)"><ion-icon name="play"></ion-icon></button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let log of logMessages;" text-wrap>
      :::{{log}}
    </ion-item>
  </ion-list>
</ion-content>